<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hk.pm.dao.ProjectBaseMapper" >
  <resultMap id="BaseResultMap" type="com.hk.pm.entity.ProjectBase" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="p_code" property="pCode" jdbcType="VARCHAR" />
    <result column="p_type" property="pType" jdbcType="INTEGER" />
    <result column="p_name" property="pName" jdbcType="VARCHAR" />
    <result column="p_grew" property="pGrew" jdbcType="VARCHAR" />
    <result column="p_manager" property="pManager" jdbcType="VARCHAR" />
    <result column="p_summary" property="pSummary" jdbcType="VARCHAR" />
    <result column="p_after_manager" property="pAfterManager" jdbcType="VARCHAR" />
    <result column="p_province" property="pProvince" jdbcType="VARCHAR" />
    <result column="p_city" property="pCity" jdbcType="VARCHAR" />
    <result column="p_county" property="pCounty" jdbcType="VARCHAR" />
    <result column="p_scode" property="pScode" jdbcType="VARCHAR" />
    <result column="p_sname" property="pSname" jdbcType="VARCHAR" />
    <result column="p_source_fund" property="pSourceFund" jdbcType="VARCHAR" />
    <result column="p_ready" property="pReady" jdbcType="INTEGER" />
    <result column="p_original_contractor" property="pOriginalContractor" jdbcType="VARCHAR" />
    <result column="p_summarize" property="pSummarize" jdbcType="VARCHAR" />
    <result column="p_money" property="pMoney" jdbcType="REAL" />
    <result column="p_product" property="pProduct" jdbcType="VARCHAR" />
    <result column="p_check" property="pCheck" jdbcType="VARCHAR" />
    <result column="p_progress" property="pProgress" jdbcType="VARCHAR" />
    <result column="p_plan_amount" property="pPlanAmount" jdbcType="REAL" />
    <result column="p_plan_make" property="pPlanMake" jdbcType="VARCHAR" />
    <result column="p_written_day" property="pWrittenDay" jdbcType="TIMESTAMP" />
    <result column="p_customer_code" property="pCustomerCode" jdbcType="VARCHAR" />
    <result column="p_rival_code" property="pRivalCode" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="p_state" property="pState" jdbcType="INTEGER" />
    <result column="p_over_cause" property="pOverCause" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, p_code, p_type, p_name, p_grew, p_manager, p_summary, p_after_manager, p_province, 
    p_city, p_county, p_scode, p_sname, p_source_fund, p_ready, p_original_contractor, 
    p_summarize, p_money, p_product, p_check, p_progress, p_plan_amount, p_plan_make, 
    p_written_day, p_customer_code, p_rival_code, create_time, start_time, p_state, p_over_cause, 
    update_time
  </sql>
  
  <!-- 查询所有项目的基本字段 -->
  <sql id="baseColunmList">
  id, code,name,manager,typeName,createTime
  </sql>
  
  <!-- 查询条件 -->
  <sql id="where_sql">
  where 1=1
  <if test="typeCode != null and typeCode !=''" >
       and typeCode = #{typeCode,jdbcType=VARCHAR}
  </if>
  <if test="typeId != null and typeId !=''" >
       and typeId = #{typeId}
  </if>
  </sql>
  
  <!-- 查询条件 -->
  <sql id="where_sql_table">
  where 1=1
  <if test="pType != null and typeId !=''" >
       and p_type = #{pType}
  </if>
  <if test="pCode != null and pCode !=''" >
       and p_code = #{pCode}
  </if>
  </sql>
  
  <!-- 查询条件 -->
  <sql id="where_sqlHK">
  where 1=1
  <if test="typeId != null and typeId !=''" >
       and typeId != #{typeId} AND typeId != 5
  </if>
  </sql>
  
 
  
  <!-- 查询单个项目信息详情 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from s_project_base
    where id=#{id}
  </select>
  
  <!-- 通过项目类型id查询项目列表-->
  <select id="selectProjectList" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from s_project_base
    <include refid="where_sql_table"/>
  </select>
  
  <!-- 查询回款项目的合同号、回款号 -->
  <select id="selectCodes" resultType="java.util.Map" parameterType="java.util.Map" >
    select 
    id,`pCode`,psId,psCode,cId,cCode,rId,rCode
    from v_projectHK
    where id=#{id}
  </select>
  
  <!-- 在视图中查询所有项目的基本信息 -->
  <select id="selectList" resultType="java.util.Map"  >
    select 
    <include refid="baseColunmList" />
    from v_project
    <include refid="where_sql"/>
  </select>
  
  <!-- 在视图中查询所有项目的基本信息 -->
  <select id="selectListHK" resultType="java.util.Map"  >
    select 
    <include refid="baseColunmList" />
    from v_project
    <include refid="where_sqlHK"/>
  </select>
  
  <!-- 分类查询项目的个数 -->
  <select id="selectCountByType" resultType="java.lang.Integer"  >
    select 
    count(1)
    from v_project
    <include refid="where_sql"/>
  </select>
  
  <!-- 项目进程管理信息列表查询 -->
  <select id="selectProjectProgressManager" resultType="java.util.Map" 
  parameterType="java.util.Map">
    select id,`code`,typeId,typeCode,`name`,typeName,grew,manager,summary,
    afterManager,state,province,city,product,`check`,
    DATE_FORMAT(startTime,'%Y-%m-%d %H:%i:%s') as 'startTime',
    overCause,DATE_FORMAT(updateTime,'%Y-%m-%d %H:%i:%s') as 'updateTime',
	county,scode,sname,originalContractor,
	DATE_FORMAT(writtenDay,'%Y-%m-%d %H:%i:%s') as 'writtenDay',
	planAmount,planMake,money,decisionName,
    decisionPhone,buttName,buttPhone,sourceFund,
    ready ,information,	summarize,progresses,
    DATE_FORMAT(createTime,'%Y-%m-%d %H:%i:%s') as 'createTime',customerCode,rivalCode
    from v_project_progress_manager
    where 1=1
  <if test="typeId !=null and typeId !=''">
  and typeId=#{typeId}
  </if>
  </select>
  
  <select id="selectProjectForContract" resultMap="BaseResultMap" parameterType="java.util.Map">
  select p_code, p_name, p_manager, p_province, p_city, p_county
  from s_project_base where 1=1
  <if test="pCode !=null">
  and p_code=#{pCode}
  </if>
  </select>
  
  <!--通过主键删除一个  -->
  <delete id="deleteByPrimaryKey" parameterType="java.util.Map" >
    delete from s_project_base
    where id = #{id}
  </delete>
  
  <insert id="insert" parameterType="com.hk.pm.entity.ProjectBase" >
    insert into s_project_base (id, p_code, p_type, 
      p_name, p_grew, p_manager, 
      p_summary, p_after_manager, p_province, 
      p_city, p_county, p_scode, 
      p_sname, p_source_fund, p_ready, 
      p_original_contractor, p_summarize, p_money, 
      p_product, p_check, p_progress, 
      p_plan_amount, p_plan_make, p_written_day, 
      p_customer_code, p_rival_code, create_time, 
      start_time, p_state, p_over_cause, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{pCode,jdbcType=VARCHAR}, #{pType,jdbcType=INTEGER}, 
      #{pName,jdbcType=VARCHAR}, #{pGrew,jdbcType=VARCHAR}, #{pManager,jdbcType=VARCHAR}, 
      #{pSummary,jdbcType=VARCHAR}, #{pAfterManager,jdbcType=VARCHAR}, #{pProvince,jdbcType=VARCHAR}, 
      #{pCity,jdbcType=VARCHAR}, #{pCounty,jdbcType=VARCHAR}, #{pScode,jdbcType=VARCHAR}, 
      #{pSname,jdbcType=VARCHAR}, #{pSourceFund,jdbcType=VARCHAR}, #{pReady,jdbcType=INTEGER}, 
      #{pOriginalContractor,jdbcType=VARCHAR}, #{pSummarize,jdbcType=VARCHAR}, #{pMoney,jdbcType=REAL}, 
      #{pProduct,jdbcType=VARCHAR}, #{pCheck,jdbcType=VARCHAR}, #{pProgress,jdbcType=VARCHAR}, 
      #{pPlanAmount,jdbcType=REAL}, #{pPlanMake,jdbcType=VARCHAR}, #{pWrittenDay,jdbcType=TIMESTAMP}, 
      #{pCustomerCode,jdbcType=VARCHAR}, #{pRivalCode,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{startTime,jdbcType=TIMESTAMP}, #{pState,jdbcType=INTEGER}, #{pOverCause,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  
  <!-- 插入更新 -->
  <insert id="insertSelective" parameterType="com.hk.pm.entity.ProjectBase" >
    insert into s_project_base
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pCode != null" >
        p_code,
      </if>
      <if test="pType != null" >
        p_type,
      </if>
      <if test="pName != null" >
        p_name,
      </if>
      <if test="pGrew != null" >
        p_grew,
      </if>
      <if test="pManager != null" >
        p_manager,
      </if>
      <if test="pSummary != null" >
        p_summary,
      </if>
      <if test="pAfterManager != null" >
        p_after_manager,
      </if>
      <if test="pProvince != null" >
        p_province,
      </if>
      <if test="pCity != null" >
        p_city,
      </if>
      <if test="pCounty != null" >
        p_county,
      </if>
      <if test="pScode != null" >
        p_scode,
      </if>
      <if test="pSname != null" >
        p_sname,
      </if>
      <if test="pSourceFund != null" >
        p_source_fund,
      </if>
      <if test="pReady != null" >
        p_ready,
      </if>
      <if test="pOriginalContractor != null" >
        p_original_contractor,
      </if>
      <if test="pSummarize != null" >
        p_summarize,
      </if>
      <if test="pMoney != null" >
        p_money,
      </if>
      <if test="pProduct != null" >
        p_product,
      </if>
      <if test="pCheck != null" >
        p_check,
      </if>
      <if test="pProgress != null" >
        p_progress,
      </if>
      <if test="pPlanAmount != null" >
        p_plan_amount,
      </if>
      <if test="pPlanMake != null" >
        p_plan_make,
      </if>
      <if test="pWrittenDay != null" >
        p_written_day,
      </if>
      <if test="pCustomerCode != null" >
        p_customer_code,
      </if>
      <if test="pRivalCode != null" >
        p_rival_code,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="pState != null" >
        p_state,
      </if>
      <if test="pOverCause != null" >
        p_over_cause,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="pCode != null" >
        #{pCode,jdbcType=VARCHAR},
      </if>
      <if test="pType != null" >
        #{pType,jdbcType=INTEGER},
      </if>
      <if test="pName != null" >
        #{pName,jdbcType=VARCHAR},
      </if>
      <if test="pGrew != null" >
        #{pGrew,jdbcType=VARCHAR},
      </if>
      <if test="pManager != null" >
        #{pManager,jdbcType=VARCHAR},
      </if>
      <if test="pSummary != null" >
        #{pSummary,jdbcType=VARCHAR},
      </if>
      <if test="pAfterManager != null" >
        #{pAfterManager,jdbcType=VARCHAR},
      </if>
      <if test="pProvince != null" >
        #{pProvince,jdbcType=VARCHAR},
      </if>
      <if test="pCity != null" >
        #{pCity,jdbcType=VARCHAR},
      </if>
      <if test="pCounty != null" >
        #{pCounty,jdbcType=VARCHAR},
      </if>
      <if test="pScode != null" >
        #{pScode,jdbcType=VARCHAR},
      </if>
      <if test="pSname != null" >
        #{pSname,jdbcType=VARCHAR},
      </if>
      <if test="pSourceFund != null" >
        #{pSourceFund,jdbcType=VARCHAR},
      </if>
      <if test="pReady != null" >
        #{pReady,jdbcType=INTEGER},
      </if>
      <if test="pOriginalContractor != null" >
        #{pOriginalContractor,jdbcType=VARCHAR},
      </if>
      <if test="pSummarize != null" >
        #{pSummarize,jdbcType=VARCHAR},
      </if>
      <if test="pMoney != null" >
        #{pMoney,jdbcType=REAL},
      </if>
      <if test="pProduct != null" >
        #{pProduct,jdbcType=VARCHAR},
      </if>
      <if test="pCheck != null" >
        #{pCheck,jdbcType=VARCHAR},
      </if>
      <if test="pProgress != null" >
        #{pProgress,jdbcType=VARCHAR},
      </if>
      <if test="pPlanAmount != null" >
        #{pPlanAmount,jdbcType=REAL},
      </if>
      <if test="pPlanMake != null" >
        #{pPlanMake,jdbcType=VARCHAR},
      </if>
      <if test="pWrittenDay != null" >
        #{pWrittenDay,jdbcType=TIMESTAMP},
      </if>
      <if test="pCustomerCode != null" >
        #{pCustomerCode,jdbcType=VARCHAR},
      </if>
      <if test="pRivalCode != null" >
        #{pRivalCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pState != null" >
        #{pState,jdbcType=INTEGER},
      </if>
      <if test="pOverCause != null" >
        #{pOverCause,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <trim prefix="ON DUPLICATE KEY UPDATE " suffix="" suffixOverrides="," >
   	 <if test="pCode !=null">
      	p_code = #{pCode,jdbcType=VARCHAR},
      </if>
     <if test="pType != null" >
        p_type = #{pType,jdbcType=INTEGER},
      </if>
      <if test="pName != null" >
        p_name = #{pName,jdbcType=VARCHAR},
      </if>
      <if test="pGrew != null" >
        p_grew = #{pGrew,jdbcType=VARCHAR},
      </if>
      <if test="pManager != null" >
        p_manager = #{pManager,jdbcType=VARCHAR},
      </if>
      <if test="pSummary != null" >
        p_summary = #{pSummary,jdbcType=VARCHAR},
      </if>
      <if test="pAfterManager != null" >
        p_after_manager = #{pAfterManager,jdbcType=VARCHAR},
      </if>
      <if test="pProvince != null" >
        p_province = #{pProvince,jdbcType=VARCHAR},
      </if>
      <if test="pCity != null" >
        p_city = #{pCity,jdbcType=VARCHAR},
      </if>
      <if test="pCounty != null" >
        p_county = #{pCounty,jdbcType=VARCHAR},
      </if>
      <if test="pScode != null" >
        p_scode = #{pScode,jdbcType=VARCHAR},
      </if>
      <if test="pSname != null" >
        p_sname = #{pSname,jdbcType=VARCHAR},
      </if>
      <if test="pSourceFund != null" >
        p_source_fund = #{pSourceFund,jdbcType=VARCHAR},
      </if>
      <if test="pReady != null" >
        p_ready = #{pReady,jdbcType=INTEGER},
      </if>
      <if test="pOriginalContractor != null" >
        p_original_contractor = #{pOriginalContractor,jdbcType=VARCHAR},
      </if>
      <if test="pSummarize != null" >
        p_summarize = #{pSummarize,jdbcType=VARCHAR},
      </if>
      <if test="pMoney != null" >
        p_money = #{pMoney,jdbcType=REAL},
      </if>
      <if test="pProduct != null" >
        p_product = #{pProduct,jdbcType=VARCHAR},
      </if>
      <if test="pCheck != null" >
        p_check = #{pCheck,jdbcType=VARCHAR},
      </if>
      <if test="pProgress != null" >
        p_progress = #{pProgress,jdbcType=VARCHAR},
      </if>
      <if test="pPlanAmount != null" >
        p_plan_amount = #{pPlanAmount,jdbcType=REAL},
      </if>
      <if test="pPlanMake != null" >
        p_plan_make = #{pPlanMake,jdbcType=VARCHAR},
      </if>
      <if test="pWrittenDay != null" >
        p_written_day = #{pWrittenDay,jdbcType=TIMESTAMP},
      </if>
      <if test="pCustomerCode != null" >
        p_customer_code = #{pCustomerCode,jdbcType=VARCHAR},
      </if>
      <if test="pRivalCode != null" >
        p_rival_code = #{pRivalCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pState != null" >
        p_state = #{pState,jdbcType=INTEGER},
      </if>
      <if test="pOverCause != null" >
        p_over_cause = #{pOverCause,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hk.pm.entity.ProjectBase" >
    update s_project_base
    <set >
      <if test="pType != null" >
        p_type = #{pType,jdbcType=INTEGER},
      </if>
      <if test="pName != null" >
        p_name = #{pName,jdbcType=VARCHAR},
      </if>
      <if test="pGrew != null" >
        p_grew = #{pGrew,jdbcType=VARCHAR},
      </if>
      <if test="pManager != null" >
        p_manager = #{pManager,jdbcType=VARCHAR},
      </if>
      <if test="pSummary != null" >
        p_summary = #{pSummary,jdbcType=VARCHAR},
      </if>
      <if test="pAfterManager != null" >
        p_after_manager = #{pAfterManager,jdbcType=VARCHAR},
      </if>
      <if test="pProvince != null" >
        p_province = #{pProvince,jdbcType=VARCHAR},
      </if>
      <if test="pCity != null" >
        p_city = #{pCity,jdbcType=VARCHAR},
      </if>
      <if test="pCounty != null" >
        p_county = #{pCounty,jdbcType=VARCHAR},
      </if>
      <if test="pScode != null" >
        p_scode = #{pScode,jdbcType=VARCHAR},
      </if>
      <if test="pSname != null" >
        p_sname = #{pSname,jdbcType=VARCHAR},
      </if>
      <if test="pSourceFund != null" >
        p_source_fund = #{pSourceFund,jdbcType=VARCHAR},
      </if>
      <if test="pReady != null" >
        p_ready = #{pReady,jdbcType=INTEGER},
      </if>
      <if test="pOriginalContractor != null" >
        p_original_contractor = #{pOriginalContractor,jdbcType=VARCHAR},
      </if>
      <if test="pSummarize != null" >
        p_summarize = #{pSummarize,jdbcType=VARCHAR},
      </if>
      <if test="pMoney != null" >
        p_money = #{pMoney,jdbcType=REAL},
      </if>
      <if test="pProduct != null" >
        p_product = #{pProduct,jdbcType=VARCHAR},
      </if>
      <if test="pCheck != null" >
        p_check = #{pCheck,jdbcType=VARCHAR},
      </if>
      <if test="pProgress != null" >
        p_progress = #{pProgress,jdbcType=VARCHAR},
      </if>
      <if test="pPlanAmount != null" >
        p_plan_amount = #{pPlanAmount,jdbcType=REAL},
      </if>
      <if test="pPlanMake != null" >
        p_plan_make = #{pPlanMake,jdbcType=VARCHAR},
      </if>
      <if test="pWrittenDay != null" >
        p_written_day = #{pWrittenDay,jdbcType=TIMESTAMP},
      </if>
      <if test="pCustomerCode != null" >
        p_customer_code = #{pCustomerCode,jdbcType=VARCHAR},
      </if>
      <if test="pRivalCode != null" >
        p_rival_code = #{pRivalCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pState != null" >
        p_state = #{pState,jdbcType=INTEGER},
      </if>
      <if test="pOverCause != null" >
        p_over_cause = #{pOverCause,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where  p_code = #{pCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hk.pm.entity.ProjectBase" >
    update s_project_base
    set p_code = #{pCode,jdbcType=VARCHAR},
      p_type = #{pType,jdbcType=INTEGER},
      p_name = #{pName,jdbcType=VARCHAR},
      p_grew = #{pGrew,jdbcType=VARCHAR},
      p_manager = #{pManager,jdbcType=VARCHAR},
      p_summary = #{pSummary,jdbcType=VARCHAR},
      p_after_manager = #{pAfterManager,jdbcType=VARCHAR},
      p_province = #{pProvince,jdbcType=VARCHAR},
      p_city = #{pCity,jdbcType=VARCHAR},
      p_county = #{pCounty,jdbcType=VARCHAR},
      p_scode = #{pScode,jdbcType=VARCHAR},
      p_sname = #{pSname,jdbcType=VARCHAR},
      p_source_fund = #{pSourceFund,jdbcType=VARCHAR},
      p_ready = #{pReady,jdbcType=INTEGER},
      p_original_contractor = #{pOriginalContractor,jdbcType=VARCHAR},
      p_summarize = #{pSummarize,jdbcType=VARCHAR},
      p_money = #{pMoney,jdbcType=REAL},
      p_product = #{pProduct,jdbcType=VARCHAR},
      p_check = #{pCheck,jdbcType=VARCHAR},
      p_progress = #{pProgress,jdbcType=VARCHAR},
      p_plan_amount = #{pPlanAmount,jdbcType=REAL},
      p_plan_make = #{pPlanMake,jdbcType=VARCHAR},
      p_written_day = #{pWrittenDay,jdbcType=TIMESTAMP},
      p_customer_code = #{pCustomerCode,jdbcType=VARCHAR},
      p_rival_code = #{pRivalCode,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      p_state = #{pState,jdbcType=INTEGER},
      p_over_cause = #{pOverCause,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>